#text_view {
    overflow: scroll;
    height: 50vh;
}

#add_button {
    border-radius: 100%;
    box-sizing: border-box;
}

#add_plus {
    font-weight: 600;
    font-size: 20px;
}

#Assignment-form {
    overflow: scroll
}

.none {
    display: none;
}

.input {
    width: 80px;
  }

  .blue-bg {
    background-color: #394989;
  }

  input[type=submit].blue-bg:hover,
  button.blue-bg:hover {
    background-color: #fddb3a;
  }

  .yellow-bg {
    background-color: #fddb3a;
  }

  .black-bg {
    background-color: #222;
  }