/* .container{
   padding: auto;
   margin: 10px;
  margin-left: 0;
  margin-right: 0;
} */
.container{
  padding: 0px;;
  margin: 0px;;
}
.logo{

  height: 50%;
  width: 50%;

}
.main-image{
  /* margin-left: 75px; */
  height: 100%;
  width: 120%;
  padding-bottom: 20px;
}
/* content of the 3 rows */
.col-md-7{
  padding: 20px;

}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.navbar-text{
  float: right;
}
/* img */
.impact{
  height: 100%;
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.impact:hover {
   transform: scale(1.10);
}

/* .mission{
  transition: 0.5s all ease-in-out;
}

.mission:hover{
  transform: scale(1.10);
} */
/* image zooming */





/* start of footer */
.panel-footer {
  color: white;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* end of footer */
/* furqan's footer */


/* fab icons */
.fab{
  color: white;
}
